.footer {
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left li,
.footer-content-right li,
.footer-content-center li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-content-left li:hover,
.footer-content-right li:hover,
.footer-content-center li:hover {
    color: #ff4757;
}

.footer-content-left p {
    line-height: 1.6;
    font-size: 15px;
    color: #a5a5a5;
}

.footer-social-icons {
    display: flex;
    gap: 15px;
}

.footer-social-icons img {
    width: 40px;
    margin-right: 15px;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer-social-icons img:hover {
    background-color: #ff4757;
    border-color: #ff4757;
    transform: translateY(-3px);
}

.footer-content-center,
.footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-center h2,
.footer-content-right h2 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-content-center ul,
.footer-content-right ul {
    padding: 0;
    margin: 0;
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: #555;
    border: none;
}

.footer-copyright {
    text-align: center;
    color: #a5a5a5;
    font-size: 14px;
}

@media (max-width: 750px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
}